##############################
# Python
##############################

__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

##############################
# Virtual Environments
##############################

venv/
.venv/
env/
myenv/
ENV/

*.pt
models/

##############################
# Environment Variables
##############################

.env
.env.*

##############################
# Flask
##############################

instance/
.webassets-cache

##############################
# Logs
##############################

*.log

##############################
# VS Code
##############################

.vscode/

##############################
# OS Files
##############################

.DS_Store
Thumbs.db

##############################
# Python build files
##############################

build/
dist/
*.egg-info/

##############################
# Jupyter Notebook checkpoints
##############################

.ipynb_checkpoints/

##############################
# Static uploads (if user uploads images)
##############################

static_uploads/
uploads/

##############################
# ML / Torch temp files
##############################

*.pt.tmp
*.ckpt

##############################
# Node (if frontend exists)
##############################

node_modules/

##############################
# Testing / coverage
##############################

.coverage
htmlcov/
.pytest_cache/
